<%= simple_form_for(@receiver) do |f| %>
  <%= f.error_notification %>

  
    <%= f.input :stuff, required: true, autofocus: true, :label => "Илгээх зүйл", placeholder: "Жишээ : Бичиг баримт, CD, Гар утас...", input_html: {class: "form-zontrol"} %>
    <%= f.input :image,required: false,  :label => "Зураг"%>
    <%= f.input :description, :label => "Дэлгэрэнгүй тайлбар", placeholder: "Жишээ : Иргэний үнэмлэх яаралтай дайж авчруулах хэрэгтэй байна." , input_html: {class: "form-zontrol"} %>
    <%= f.input :source_address, required: true, :label => "Хаанаас", placeholder: "Tokyo, Taipei, Ulaanbaatar..." , input_html: {class: "form-zontrol"} %>
    <%= f.input :destination_address, required: true, :label => "Хаашаа", placeholder: "Google maps дээрхи хаяг байвал оновчтой дүрслэнэ." , input_html: {class: "form-zontrol"}  %>
    <%= f.input :from, required: true ,:label => "Хэднээс",  input_html: {class: "form-date"} %>
    <%= f.input :to, required: true , :label => "Хэдийд", input_html: {class: "form-date"} %>
    <%= f.input :phone, :label => "Утас", placeholder: "99887766 эсвэл +976-11-99887766" , input_html: {class: "form-zontrol"}  %>
    <%= f.input :mail , :label => "Майл хаяг", placeholder: "" , input_html: {class: "form-zontrol"} %>
    <%= f.input :fee ,:label => "Төлөх хөлс", placeholder: "1000₮ 3$ " , input_html: {class: "form-zontrol"} %>
    
    
  </div>
<center>
  <div class="form-actions">
    <%= f.button :submit, "Дуусгах" %>
  </div>
<% end %></center>
<br>

