<h1>Хүлээн авагчдын жагсаалт</h1>

<table class="table">
  <thead>
    <tr>
      <th>Юуг: </th>
      <th>Хаанаас: </th>
      <th>Хаашаа: </th>
      <th>Хэднээс:</th>
      <th>Хэднийд:</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.stuff %></td>
        <td><%= receiver.source_address %></td>
        <td><%= receiver.destination_address %></td>
        <td><%= receiver.from %></td>
        <td><%= receiver.to %></td>
        
        <td><ul class="list-group">
          <li class="list-group-item">
            <span class="badge">1</span>
            <%= link_to 'Дэлгэрэнгүй', receiver_path(receiver.id) %>
          </li>
        
        </ul></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'Хүсэлт гаргах', new_receiver_path %>
<% end %>