<table class="table table-condensed">
      <thead>
        <tr>
          <th>Хаанаас</th>
          <th>Хаашаа</th>
          <th>Ирэх өдөр</th>
          
          <th></th>
        </tr>
      </thead>
      <tbody>
      	<% @senders.each do |sender| %>
        <tr>
          <td><%= sender.source_address %></td>
          <td><%= sender.destination_address %></td>
          <td><%= sender.arrival %></td>
          <td><%= link_to 'засах', edit_sender_path(sender) %> | 
          <%= link_to 'үзэх', @sender %></td>
          
          
          

        </tr>
        <% end %>

      </tbody>
    </table>