<%= simple_form_for(@sender) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :source_address, required: true %>
    <%= f.input :destination_address, required: true %>
    <%= f.input :description %>
    <%= f.input :arrival, required: true %>
    <%= f.input :phone, required: true %>
    <%= f.input :mail, required: true %>
    <%= f.input :fee %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
