<h1>Хүргэгчдийн жагсаалт</h1>

<table class="table">
  <thead>
    <tr>
      <th>Нэр</th>
      <th>Хаанаас</th>
      <th>Хаашаа</th>
      <th>Ирэх өдөр</th>
      <th>Хүсэж буй хөлс</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @senders.each do |sender| %>
      <tr>
        <td><%= sender.user.name %></td>
        <td><%= sender.source_address %></td>
        <td><%= sender.destination_address %></td>
        <td><%= sender.arrival %></td>
        <td><%= sender.fee %></td>
        <td>
          <%= link_to 'Дэлгэрэнгүй', sender_path(sender.id) %></td>
          
          
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
<%= link_to 'Хүргэгч болох', new_sender_path %>
<% end %>