<script type="text/javascript">
      function initialize() {
        
        var dest = {lat: <%= @sender.update_coordinates[2] %>, lng: <%= @sender.update_coordinates[3] %>};
        
        var mapOptions2 = {
          center: dest,
          zoom: 8
        };
        
        
        var map2 = new google.maps.Map(document.getElementById('map-canvas2'), mapOptions2);
        
        
        var marker2 = new google.maps.Marker({
          position:dest,
          map: map2
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      $(document).bind("projectLoadComplete", initialize);
    </script>

    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a class="list-group-item" href=""><i class="fa fa-home fa-fw"></i>&nbsp; Хаанаас: <%= @sender.source_address %></a>
          <a class="list-group-item" href="#"><i class="fa fa-plane fa-fw"></i>&nbsp; Хаашаа: <%= @sender.destination_address %> <div id="map-canvas2" style="width:230px; height:230px;"></div></a>
          <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Тайлбар: <%= @sender.description %> </a>
          <a class="list-group-item" href="#"><i class="fa fa-calendar fa-fw"></i>&nbsp; Очих өдөр: <%= @sender.arrival %> </a>
          <a class="list-group-item" href="#"><i class="fa fa-phone fa-fw"></i>&nbsp; Утас: <%= @sender.phone %> </a>
          <a class="list-group-item" href="#"><i class="fa fa-envelope-o fa-fw"></i>&nbsp; Майл: <%= @sender.mail %> </a>
          <a class="list-group-item" href="#"><i class="fa fa-usd fa-fw"></i>&nbsp; Ачаа/кг үнэлгээ: <%= @sender.fee %> </a>

          
        </div>
</div>

         

<div class="col-md-9">

<h3> Тохиролцох талбар</h3>
<% if current_user %>
<h5>Санал оруулах</h5>
<%= render "negotiations/form" %>
<h5>Бүх санал</h5>
<%= render @negotiations %>
<% end %>
</div>

</div>


<div id="map-canvas2"></div>


 